<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editor</title>
</head>
<body data-page="editor">
  <header>
    <nav>

    </nav>
  </header>

  <main>
    <section class="ide-toolbar">

    </section>
    <section class="explorer-ide-chat">
      <section class="explorer-tab">
        <div class="search-container">
          <input type="search" id="file-search" name="explorer-search" />
          <button>Search</button>
        </div>
        <div class="files-container">
          <div class="file-toolbar">
  
          </div>
          <div class="repo-files">
  
          </div>
        </div>
      </section>
      <section class="ide">
        <div class="editor-container">

        </div>
        <div class="cml-container">

        </div>
        <div class="terminal-container">

        </div>
        <div class="chat">

        </div>
      </section>

    </section>
    <footer>
      
    </footer>
  </main>

  <script src="../client/js/main.js"></script>
</body>
</html>